<div class="container">
    <h1>Hola, este es mi primer proyecto en Angular :)</h1>
    <h2>{{ welcome }}</h2>

    <ul>
    @for (task of tasks(); track $index) {
        <li>{{ task }}</li>
    }
    </ul>
    <hr/>
    <h2>{{ 'Hola'.repeat(10) }}</h2>
    <p>la suma de 3 + 3 es {{ 3 + 3 }}</p>
    <p>Hola, soy {{ name() }} y mi edad es {{ age }}</p>

    <hr/>
    <img [src]="person.avatar" alt="">
    <input type="number" [value]="person.age">
    <button [disabled]="disabled">Click me</button>

    <p>Persona: {{ person.name }}</p>

    <hr/>
    <button (click)="clickHandler()">click me</button>
    <p></p>
    <button (dblclick)="clickHandler()">double me</button>
    <p>(change)</p>
    <input type="number" [value]="person.age" (change)="changeHandler($event)">
    <p>(change con input text)</p>
    <input type="text" [value]="person.name" (change)="changeHandler($event)">
    <p>(keydown)</p>
    <input type="text" [value]="person.name" (keydown)="keydownHandler($event)">
    <p>(keydown por tecla)</p>
    <input type="text" [value]="person.name" (keydown.shift.c)="clickHandler()">

    <hr/>
    <p>Total de elementos: {{ tasks().length}}</p>
    <ul>
        @for (task of tasks(); track $index) {
            <li>{{$index}} {{ task }}</li>
        }
    </ul>
    <h1>Signals</h1>
    <input type="text" [value]="name()" (change)="changeHandler($event)">
    <p>name: {{ name() }}</p>

</div>